<form class="shf-bordered" autocomplete="off">
    <h1 class="shf-title uppercase text-center text-2xl">{{localize "SHADOWFALL.CharacterSheet.Title"}}</h1>
    
    {{> "systems/shadowfallrpg/templates/actors/partials/header.html"}}
    {{> "systems/shadowfallrpg/templates/actors/partials/navigation.html"}}
    {{> "systems/shadowfallrpg/templates/actors/partials/attributes.html"}}
    {{> "systems/shadowfallrpg/templates/actors/partials/inventory.html"}}
    {{> "systems/shadowfallrpg/templates/actors/partials/background.html" }}
</form>