<li class="flex justify-between items-center p-1">
    <span class="mr-3 special-elite-regular">{{ label }}</span>
    <div class="flex items-center">
        <button class="countable-before text-xs px-1 hover:text-primary">-</button>
        <span class="countable border rounded-full border-primary h-6 w-6 flex items-center justify-center" data-type="{{type}}" data-name="{{name}}">{{ value }}</span>
        <button class="countable-after text-xs px-1 hover:text-primary">+</button>
    </div>
</li>