<header id="shf-actor-tabs" class="border-double border-t-4 border-b-4 border-primary flex mt-2 items-center justify-center p-2">
    <li class="mx-4 font-normal hover:underline cursor-pointer skf-tab-link [&.active]:underline active" data-target="shf-attributes">Attributs & skills</li>
    <li class="mx-4 font-normal hover:underline cursor-pointer skf-tab-link [&.active]:underline" data-target="shf-inventory">Inventory</li>
    <li class="mx-4 font-normal hover:underline cursor-pointer skf-tab-link [&.active]:underline" data-target="shf-background">Background</li>
</header>
